In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("datasets/null.csv", na_values=["na"])

In [3]:
df.isna()

   ST_NUM  ST_NAME  NUM_BED  OWN_OCCUPIED
0   False    False    False         False
1   False    False    False         False
2   False    False     True         False
3   False    False    False         False
4   False    False    False         False
5    True    False     True          True
6   False     True    False         False
7   False    False     True         False

In [5]:
df['ST_NUM'] = df['ST_NUM'].fillna(175)

In [6]:
df['ST_NAME'] = df['ST_NAME'].fillna("DEFAULT")

In [7]:
df['NUM_BED'] = df['NUM_BED'].fillna(4)

In [8]:
df['OWN_OCCUPIED'] = df['OWN_OCCUPIED'].fillna('N')

In [9]:
df.isna()

   ST_NUM  ST_NAME  NUM_BED  OWN_OCCUPIED
0   False    False    False         False
1   False    False    False         False
2   False    False    False         False
3   False    False    False         False
4   False    False    False         False
5   False    False    False         False
6   False    False    False         False
7   False    False    False         False